h1{
    color: purple;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    
}
h2{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
}
body{
    display: block;
}
.summary {
    text-align: center; 
    background-color: #9DD1F1;
    border-radius: 20px;
    display: inline-block;
    margin: 100px;
    padding: 15px;
    border-top: 10em;
    margin-top:1em;
}
img{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
   
    border: 10px solid burlywood;
}
.int{

    text-align: center; 
    background-color: #9DD1F1;
    border-radius: 20px;
    display: inline-block;
    width: 72%;
    padding: 15px;
    margin-left: 12%;   
    margin-top: 0em;
   
}    
.proj{
    
    text-align: center; 
    background-color:lightblue;
    border-radius: 20px;
    display: inline-block;
    width: 72%;
    padding: 15px;
    margin-left: 12%;   
    margin-top: 0em;
}
